:root {
  --primary-col: hsl(179, 62%, 43%);
  --accent-col: hsl(71, 73%, 54%);
  --light-col: hsl(204, 43%, 93%);
  --bg-col: hsl(218, 22%, 67%);
  --font-family: 'Karla', sans-serif;
}

.btn {
  background-color: var(--accent-col);
  text-align: center;
  color: #fff;
  padding: 1rem 3rem;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 700;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
}

.accent-text {
  color: var(--accent-col);
}

.large-text {
  font-size: 2rem;
  font-weight: 700;
}